<footer class="page-footer font small bg-rodape pt-3">

    <div class="container">
      <div class="row">
        <div class="col-md-12 d-flex  justify-content-center">
          <h4 class="text-dark font-weight-light">Siga TechdElas nas redes sociais</h4>


        </div>
      </div>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center">

      <ul class="social-network">

        <li>
          <a href="https://web.facebook.com" target="_blank" class="icoFacebook">
            <i class="fa fa-facebook-square" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a href="https://web.instagram.com" target="_blank" class="icoInstagram">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>

        <li>
          <a href="https://github.com/TechdElas" target="_blank" class="icoGithub">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>

      </ul>

    </div>
  </div>

    </div>

    <div class="footer-copyright bg-cop text-center py-3">
      <span class="text-white"> ©️ 2021 Copyright: </span>
      <a class="text-white" target="_blank" href="https://brazil.generation.org/">brasil.techdelas.com</a>

    </div>


  </footer>
