.fs-16{

  font-size: 16pt;
}
.bg-menudois{

  background-color: #f4f0f3;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  }



  .sombra{

    box-shadow: 5px 1px 10px #7b7974;
  }
