<app-menuexterno></app-menuexterno>


<div class="container">
    <div class="formulario">
        <h5 class="text-center mb-3"> Use esse espaço para falar conosco</h5>

        <form action="https://formsubmit.com/techdelas@gmail.com" method="POST">
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Digite seu melhor email." required>
            </div>

            <div class="mb-3">
                <textarea name="message" cols="40" rows="7" placeholder="Digite sua mensagem aqui!" required></textarea>
            </div>

            <div id="btng">
                <button id="btn1" type="submit" class="btn">Enviar</button>
            </div>

            <input type="hidden" name="_captcha" value="false">
            <input type="hidden" name="_next" value="http://localhost:4200/menu%22%3E">
        </form>

    </div>

    <div class="imagem">
        <img src="https://i.imgur.com/V93akZp.png" alt="faleconoscoimg" width="700px" height="500px">
    </div>
</div>
