<div class="content-fluid pt-5 pb-5 bg-postedit">

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center text-black">Atualizar postagem</h1>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">

      <div class="form-group">
        <label for="titulo">Título</label>
        <input [(ngModel)]='postagem.titulo' type="text" class="form-control sombra" id="titulo" placeholder="Digite o título">
      </div>

      <div class="form-group">
        <label for="texto">Texto</label>
        <textarea [(ngModel)]='postagem.texto' class="form-control sombra" name="texto" id="texto" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="midia">Mídia</label>
        <textarea [(ngModel)]='postagem.midia' type= "text" class="form-control sombra"  id="midia" placeholder="Insira o hiperlink da sua mídia"></textarea>
      </div>

      <div class="form-group">
        <label for="texto">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>: </label>
        <select name="tema" id="tema" class="form-control sombra" [(ngModel)]='idTema' (change)='findByIdTema()'>
          <option *ngFor='let item of listaTemas' value="{{item.idTema}}">
            {{item.descricao}}
          </option>
        </select>
      </div>

      <div class="d-flex justify-content-center">
        <button class="btn btn-danger mr-4 sombra" routerLink='/inicio'>Cancelar</button>
        <button class="btn btn-success sombra" (click)='atualizar()'>Atualizar</button>
      </div>

    </div>
  </div>

</div>
