

<body>
  <app-menuexterno></app-menuexterno>


<div class="content-flud m-0 p-0 bg-color">
  <div class="col-md-12">
    <div class="row justify-content-center">
<h2 class="text-center d-flex justify-content-center">Quem Somos</h2>
<h4 class="mt-4 ml-4 mr-4 text-center fs-20">
  Uma rede social criada por nós, alunos da Generation Brasil, como projeto final para obtenção do título de
        Desenvolvedor Java Junior Full Stack, onde, a finalidade era aplicar todo o conhecimento adquirido durante o bootcamp
        e para além disso trazer um projeto de identificação pessoal no qual o nosso objetivo é auxiliar as mulheres para
        facilitar o caminho em busca da empregabilidade. Dessa forma, criamos o TechdElas, pois acreditamos que a melhor forma

 de alcançar o tão aumejado emprego é através do conhecimento e de uma rede de apoio. Sim! O mundo tech é para você garota!
        E o techdElas é feito por você!
</h4>
    </div>
  </div>
</div>







<section id="devs -0 p-0 bg-color">
  <div class="container-fluid m-0 p-0 bg-color">
    <h1 class="text-center mb-3 mt-5 pt-5">Conheça os Devs da TechdElas</h1>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="devs-sobre">
              <li>
                <img
                  src="../../assets/img/foto-Bea.jpeg"
                  alt="Imagem Beatriz"
                  width="100%"
                  class="img-fluid rounded-circle"
                />
              </li>
            </ul>
          </div>
          <div class="col-md-9 d-flex">
            <ul>
              <li class="devs-sobre">
                <h3 class="m-0 p-0">Beatriz Souza</h3>
              </li>
              <P
                >Amante de caipirinha e pagode,movida pelo café. Inicio no mundo da tecnologia através da Generation e o que era uma curiosidade, tornou-se uma paixão. Percebeu no
                TechdElas um espaço onde poderia transmitir conhecimento de
                forma mais lúdica e assim aumentar a quantidade de mulheres na
                área da tecnologia.</P>
                <ul class="social-icon">
                  <li><a href="https://www.linkedin.com/in/beatriz-souzaa/" class="fa fa-linkedin"></a></li>
                  <li><a href="https://github.com/BeaSouzaa" class="fa fa-github" ></a></li>
             </ul>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="devs-sobre">
              <li>
                <img
                  src="../../assets/img/foto-jhow.jpeg"
                  alt="Imagem Jonathan"
                  width="100%"
                  class="img-fluid rounded-circle"
                />
              </li>
            </ul>
          </div>
          <div class="col-md-9 d-flex">
            <ul>
              <li class="devs-sobre">
                <h3 class="m-0 p-0">Jonathan Ruescas</h3>
              </li>
              <p>
                Sou Jonathan, amo aprender e compartilhar meu conhecimento. Nas
                horas vagas gosto de ficar com meus gatos e sou apaixonado pela
                área de tecnologia e marketing. Participar desse projeto me fez
                evoluir como pessoa e profissionalmente, trabalhando pela
                inclusão social e resultados que tragam impacto para um bem
                comum.
              </p>
              <ul class="social-icon">
                <li><a href="https://www.linkedin.com/in/jonathan-ruescas-5566b4141/" class="fa fa-linkedin"></a></li>
                <li><a href="https://github.com/JonathanRuescas" class="fa fa-github"></a></li></ul>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="devs-sobre"></ul>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="devs-sobre">
              <li>
                <img
                  src="../../assets/img/foto-deivite.jpg"
                  alt="Imagem Deivite"
                  width="100%"
                  class="img-fluid rounded-circle"
                />
              </li>
            </ul>
          </div>
          <div class="col-md-9 d-flex">
            <ul>
              <li class="devs-sobre">
                <h3 class="m-0 p-0">Deivite Oliveira</h3>
              </li>
              <p>
                Apaixonado por Games o que me fez querer embarcar no mundo
                tecnologico. Sou uma pessoa que ama desafios e desenvolver o
                TechdElas foi uma experiência de vida incrível que me
                proporcionou desenvolver soft skills como persistência, trabalho
                em equipe, atenção aos detalhes e acredito que essa jornada no
                mundo Dev só está começando.
              </p>
              <ul class="social-icon">
                <li><a href="https://www.linkedin.com/in/deivite-oliveira-a31812223/" class="fa fa-linkedin"></a></li>
                <li><a href="https://github.com/deiviteoliveira" class="fa fa-github"></a></li>
           </ul>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="devs-sobre">
              <li>
                <img
                  src="../../assets/img/foto-Tobias.jfif"
                  alt="Imagem Tobias"
                  width="100%"
                  class="img-fluid rounded-circle"
                />
              </li>
            </ul>
          </div>
          <div class="col-md-9 d-flex">
            <ul>
              <li class="devs-sobre">
                <h3 class="m-0 p-0">Tobias Soares</h3>
              </li>
              <p>
                Sou flexível, autodidata, apaixonado por natureza e fotografia.
                Ser/Estar na TechdElas, é ser parte da transformação,
                contribuindo com soluções para sociedade, de forma criativa e
                coletiva! Trabalhando, aprendendo e evoluindo diariamente!
              </p>
              <ul class="social-icon">
                <li><a href="https://www.linkedin.com/in/tobias-soares-85a6b41a0/" class="fa fa-linkedin"></a></li>
                <li><a href="https://github.com/TobiasGustavo" class="fa fa-github"></a></li></ul>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 d-flex">
            <ul class="devs-sobre"></ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>

<!--Tecnologias utilizadas na Rede-->
<section id="tecnologiasUtilizadas" class="container-fluid">
  <div class="row faixa-tecnologias tech">
       <div class="col-12 text-center" data-aos="fade-up" data-aos-delay="300">
            <h3 class="mb-6 text-center"><a href="" data-toggle="tooltip" data-placement="top" title="Aspectos do design web do TechdElas ">Frontend</a></h3>
            <ul id="" class="nav tecnologiasUtilizadas d-flex justify-content-center align-items-center" >
                 <li><a href="https://pt.wikipedia.org/wiki/HTML5" data-toggle="tooltip" data-placement="top" title="Linguagem que nos permite colocar cada elemento dentro da página e os estruturar!"><img src="../../assets/Icones - TechdElas/html5.png" ></a></li>
                 <li><a href="https://pt.wikipedia.org/wiki/CSS3" data-toggle="tooltip" data-placement="top" title="Estilização dos elementos graficos"><img src="../../assets/Icones - TechdElas/css3.png" ></a></li>
                 <li><a href="https://pt.wikipedia.org/wiki/JavaScript" data-toggle="tooltip" data-placement="top" title="JavaScript permite páginas da Web interativas e, portanto, é uma parte essencial dos aplicativos da web."><img src="../../assets/Icones - TechdElas/js.png" ></a></li>
                 <li><a href="https://getbootstrap.com.br/"  data-toggle="tooltip" data-placement="top" title="Bootstrap é um framework web com código-fonte aberto para desenvolvimento de componentes de interface e front-end para sites e aplicações web usando HTML, CSS e JavaScript"><img src="../../assets/Icones - TechdElas/bstrap.png"></a></li>
                 <li><a href="https://angular.io/" data-toggle="tooltip" data-placement="top" title="é uma plataforma de aplicações web de código-fonte aberto e front-end baseado em TypeScript liderado pela Equipe Angular do Google e por uma comunidade de indivíduos e corporações."><img src="../../assets/Icones - TechdElas/angular.png" ></a></li>
                 <li><a href="https://www.typescriptlang.org/" data-toggle="tooltip" data-placement="top" title="TypeScript é uma linguagem de programação de código aberto desenvolvida pela Microsoft"><img src="../../assets/Icones - TechdElas/typescript.png" ></a></li>

            </ul>
       </div>
  </div>
  <div class="row">
       <div class="col-12" data-aos="fade-up" data-aos-delay="300">
            <h3 class="text-center"><a href="" data-toggle="tooltip" data-placement="top" title="Onde esta localizada toda a regra de negocio, para o desenvolvimento do techdElas" style="text-decoration:none;color:black;">Backend</a></h3>
            <ul id="" class="nav tecnologiasUtilizadas d-flex justify-content-center align-items-center">
                 <li><a href="https://www.java.com/pt-BR/" data-toggle="tooltip" data-placement="top" title="É uma linguagem de programação orientada a objetos desenvolvida na década de 90!"><img src="../../assets/Icones - TechdElas/java.png" ></a></li>
                 <li><a href="https://spring.io/projects/spring-boot" data-toggle="tooltip" data-placement="top" title="Spring Boot é um framework Java, facilitando a programação em Java"><img src="../../assets/Icones - TechdElas/springboot.png" ></a></li>
                 <li><a href="https://www.mysql.com/products/workbench/" data-toggle="tooltip" data-placement="top" title="Gerenciamento de banco de dados (SGBD), que utiliza a linguagem SQL (Linguagem de Consulta Estruturada, do inglês Structured Query Language) como interface. É atualmente um dos sistemas de gerenciamento de bancos de dados mais populares."><img src="../../assets/Icones - TechdElas/mysql.png" ></a></li>
                 <li><a href="https://www.heroku.com/postgres" data-toggle="tooltip" data-placement="top" title="Heroku opera, como escalabilidade e segurança. Maiores informações, clique aqui. CLI é uma interface para a plataforma Heroku API"><img src="../../assets/Icones - TechdElas/heroku.png" ></a></li>
                 <li><a href="https://swagger.io/" data-toggle="tooltip" data-placement="top" title="Swagger é uma linguagem de descrição de interface para descrever APIs RESTful expressas usando JSON."><img src="../../assets/Icones - TechdElas/swagger.png" ></a></li>
            </ul>
       </div>
  </div>





