<div class="fixed-bottom d-flex justify-content-end"></div>


<div class="content-fluid pt-5 pb-5 body">
  <div class="row mr-0 justify-content-start">


    <div class="col-3 mr-4 rounded-bottom">
      <div
        class="
          nav
          col-3
          flex-column
          nav-pills
          rounded-bottom
          position-fixed
          bg-principal
          pt-2
          d-flex
          justify-content-end
        "
        id="v-pills-tab"
        role="tablist"
        aria-orientation="vertical"
      >
        <a
          class="nav-link active mt-5 mb-3 imput borda color"
          id="v-pills-home-tab"
          data-toggle="pill"
          href="#v-pills-home"
          role="tab"
          aria-controls="v-pills-home"
          aria-selected="true"
          >Todas as postagens</a
        >
        <a
          class="nav-link mb-3 imput borda color"
          (click)="findByIdUsuario()"
          id="v-pills-profile-tab"
          data-toggle="pill"
          href="#minhasPostagens"
          role="tab"
          aria-controls="v-pills-profile"
          aria-selected="false"
          >Minhas Postagens</a
        >
        <a
          class="nav-link mb-5 imput borda color"
          id="v-pills-messages-tab"
          data-toggle="pill"
          href="#v-pills-messages"
          role="tab"
          aria-controls="v-pills-messages"
          aria-selected="false"
          >Postagens por Tema</a
        >
        <button
          class="btn postar mr-5 ml-5 imput borda font-weight-bold"
          data-toggle="modal"
          data-target="#novaPostagem"
        >
          Nova Postagem
        </button>
      </div>
    </div>

    <div class="col-8 bg-principal pl-5">
      <div class="tab-content" id="v-pills-tabContent">

        <div
          class="tab-pane fade show active"
          id="v-pills-home"
          role="tabpanel"
          aria-labelledby="v-pills-home-tab"
        >
          <div class="row d-flex justify-content-center mt-5 mb-5">
            <div class="col-md-6">
              <h1>Todas as Postagens</h1>
            </div>
          </div>

          <div class="card mb-6 card-color">
            <div class="mt-3 card text-center card-color2" *ngFor="let item of listaPostagens">
             <img src = "{{ item.midia }}"  class = "card-img-top"/>
              <div class="card-body">
                <h5 class="card-title m-0">{{ item.titulo }}</h5>
                <small class="text-muted">Tema: {{ tema.idTema }}</small>
                <p class="card-text mt-3 mb-6">{{ item.texto }}</p>
                <p class="card-text">
                  <small class="text-muted"
                    >{{ item.date | date: "dd/MM/yyyy" }} às
                    {{ item.date | date: "HH:mm" }}</small
                  >
                </p>
                <p class="card-text">
                  <small class="text-muted mb-5">by: {{ item.usuario.nome }}</small>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="tab-pane fade"
          id="minhasPostagens"
          role="tabpanel"
          aria-labelledby="nav-minhasPostagens-tab"
        >
          <div class="row d-flex justify-content-center mt-5 mb-5">
            <div class="col-md-6">
              <h1>Minhas postagens</h1>
            </div>
          </div>
          <div class="card">
            <div class="mt-3 card text-center card-color2" *ngFor="let item of usuario.postagem">
              <div class="card-body">
                <h5 class="card-title m-0">{{ item.titulo }}</h5>
                <small class="text-muted">Tema: {{ item.titulo }}</small>
                <p class="card-text mt-3">{{ item.texto }}</p>
                <p class="card-text">
                  <small class="text-muted"
                    >{{ item.date | date: "dd/MM/yyyy" }} às
                    {{ item.date | date: "HH:mm" }}</small
                  >
                </p>

                <a
                  [routerLink]="['/postagem-edit', item.idPostagem]"
                  class="text-info mr-3"
                  href=""
                  >Editar</a
                >
                <a
                  [routerLink]="['/postagem-delete', item.idPostagem]"
                  class="text-danger"
                  href=""
                  >Apagar</a
                >
              </div>
            </div>
          </div>
        </div>

        
        <div
          class="tab-pane fade"
          id="v-pills-messages"
          role="tabpanel"
          aria-labelledby="v-pills-messages-tab"
        >
          <div class="row d-flex justify-content-center mt-5 mb-5">
            <div class="col-md-6">
              <h1>Postagens por tema</h1>
              <div class="form-group mb-5">
                <input
                  type="text"
                  class="form-control"
                  id="tituloPesquisa"
                  placeholder="Pesquisar por tema"
                  [(ngModel)]="idTema"
                  (keyup)="findByIdTema()"
                />
              </div>
            </div>
          </div>

          <div class="card" *ngFor="let tema of listaTemas">
            <div class="mt-3 card text-center card-color2" *ngFor="let item of tema.postagem">
              <div class="card-body">
                <h5 class="card-title m-0">{{ item.titulo }}</h5>
                <p class="card-text mt-3">{{ item.texto }}</p>
                <p class="card-text">
                  <small class="text-muted"
                    >{{ item.date | date: "dd/MM/yyyy" }} às
                    {{ item.date | date: "HH:mm" }}</small
                  >
                </p>
                <p class="card-text">
                  <small class="text-muted">by: {{ item.usuario.nome }}</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="novaPostagem"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered imput" role="document">
    <div class="modal-content postar">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Nova Postagem</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input
            [(ngModel)]="postagem.titulo"
            type="text"
            class="form-control sombra"
            id="titulo"
            placeholder="Digite o título"
          />
        </div>
        
        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea
            [(ngModel)]="postagem.texto"
            class="form-control sombra"
            name="texto"
            id="texto"
            rows="3"
            placeholder="Digite seu texto aqui"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="midia">Mídia</label>
          <input
            [(ngModel)]="postagem.midia"
            class="form-control sombra"
            name="midia"
            id="midia"
            placeholder="Insira aqui o hiperlink da sua imagem"
          />
        </div>

        <div class="form-group">
          <label for="tema"
            >Escolha um tema ou
            <a data-dismiss="modal" routerLink="/tema" class="text-info"
              >cadastre um novo</a
            >:
          </label>
          <select
            class="form-control sombra"
            name="tema"
            id="tema"
            [(ngModel)]="idTema"
            (change)="findByIdTema()"
          >
            <option *ngFor="let item of listaTemas" value="{{ item.idTema }}">
              {{ item.descricao }}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger sombra"
          data-dismiss="modal"
          routerLink="/inicio"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-success sombra"
          (click)="publicar()"
          data-dismiss="modal"
        >
          Publicar
        </button>
      </div>
    </div>
  </div>
</div>
